name: wartiyem_mobile
description: "A new Flutter project."
publish_to: 'none' # Remove this line if you wish to publish to pub.dev

version: 1.0.0+1

environment:
  sdk: ^3.5.1

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  google_fonts: ^6.2.1
  intl: ^0.19.0   # <<--- Tambahin ini
  http: ^1.5.0
  shared_preferences: ^2.5.3
  pdf: ^3.11.3
  open_file: ^3.5.10
  provider: ^6.0.0
  printing: ^5.12.0
  path_provider: ^2.1.5
  url_launcher: ^6.3.0


dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^4.0.0

flutter:
  uses-material-design: true

  assets:
    - assets/images/
